<h1><%= @title %></h1>

<%= form_for(@choice, :url => stack_choices_path) do |f| %>
  <%= render 'new_choice', :f => f %>
  <div class="actions">
    <%= f.submit "Create Choice" %>
  </div>
<% end %>
