.container {
  width: 710px;
}

body {
  background: #eee;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #eee;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Home Page Elements */

div.tagline {
  padding-top: 2em;
  width: 100%;
  text-align: center;
  color: #aaa;
}

.tagline.tagem {
  color: MistyRose;
}

.sod_title {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 100%;
  color: #aaa;
}

.sod_subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 200%;
  font-weight: normal;
}

.refresh_stack {
  display: block;
  text-align: right;
  width: 90%;
  margin-bottom: -20px;	
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

span.toggle_admin {
  margin-bottom: 10px;
  display: inline;
}

form.edit_user {
  display: inline;
}

.toggle_admin_button {
  border: 1px solid #eee;
  background: #c0c0c0;
  color: #707070;
  font-size: 8pt;
}

form.new_user_interest {
  display: inline;
}

form.edit_user_interest {
  display: inline;
}

span.interested_in_form {
  display: inline;
}

.interested_button {
  border: 1px solid #eee;
  background: #ffc;
  color: #707070;
  font-size: 8pt;
  display: inline;
}

/* Interest show page */

.question {
  font-size: 1.5em;
}

.question_subtext {
  font-style: italic;
}

.stack {
  vertical-align: top;
}

.interest_list_item {
  display:block;
  font-size: 150%;
  margin-bottom: 10px;
}

/* User show page */

table.interests {
  width: 100%;
  margin-bottom: 0;
}

.interests td.main {
  width: 70%;
  padding: 1em;
  background: #fff;
}

.interests td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #fff;
}

.interests td.add_category {
  width: 30%;
  padding: 1em;
  vertical-align: middle;
  text-align: center;
  background: #ffc;
}

/* Errors */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Users index display */

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* User Answers */

h1.question {
  text-align: center;
  margin-bottom: 0.3em;
  font-size: 200%;
}

h2.question {
  text-align: center;
  margin-bottom: 0.3em;
  font-size: 100%;
}

/* User Answers */

h1.answer {
  margin-bottom: 0.3em;
}

table.answers {
  margin-top: 2em;
}

table.answers tr {
}

table.answers tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.answers tr td.answer {
  border-top: 1px solid #ccc;
  vertical-align: top;
}

table.answers tr td.answer div.stack {
  display: block;
  font-size: 125%;
  font-weight: bold;
  color: Black;
  vertical-align: top;
}

table.answers tr td.answer div.choice {
  display: block;
  font-size: 150%;
  font-style: italic;
  color: Red;
}

.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

/* User Info */

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.answers {
  font-size: 80%;
}

form.new_answer {
  margin-bottom: 2em;
}

form.new_answer textarea {
  height: 4em;
  margin-bottom: 0;
}

/* About Us */

.about_block {
  margin: 20px 0px 20px 0px;
}

.about_img {
  position:inline;
  float:left;
  margin: 0px 20px 0px 0px;
}

.about_name {
  position:inline;
  font-weight:bold;
  font-size: 200%;
}

.about_desc {
  position:inline;
  font-color: #ccc;
}

/* Stack Display Page */

div.chart_div {
  margin: auto;
  width: 100%;
}

.choices td.add_choice {
  width: 30%;
  padding: 1em;
  vertical-align: middle;
  text-align: center;
  background: #ffc;
}

.disabled_form_field {
  background-color: #eee;
  width: 30%;
}

.stack_question_plain {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  width: 450px;
  background: #ffc;
  font-size: 150%;
  font-weight: bold;
  line-height: 110%;
  padding: 20px;
}

.form_select {
  border: 1px solid #eee;
  background: #ffc;
  color: red;
  font-size: 100%;
}

input.stack_me_up_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 100%;
  font-weight: bold;
  padding: 20px;
}

h3.qa {
  border-top-style:none;
  border-right-style:none;
  border-bottom-style:dotted;
  border-left-style:none;
  border-color:black;
  margin-bottom: 10px;
}

.qa_links {
  display: block;
  margin-bottom: 20px;
}

/* About Us */

div.about_desc {
  margin-top: 20px;
}

