.mad-libs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}
.mad-libs div.begin-quote {
	font-family: Georgia, serif;
	font-size: 75px;
	font-weight: bold;
	color: MistyRose;
}
.mad-libs div.end-quote {
	font-family: Georgia, serif;
	font-size: 75px;
	font-weight: bold;
	color: MistyRose;
	display: inline;
}
td.madlibs-content {
	padding: 1em;
	background: #ffc;
}
.mad-libs label {
	white-space: nowrap;
	padding: 0 0 .5em;
	
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.mad-libs input {
	font: inherit;
	background: transparent;
	border: none;
	border-bottom: 1px solid #111;
	outline: 0;
	display: block;
}
.mad-libs label span {
	font-size: .8em;
	line-height: 1em;
	opacity: .7;
	filter: alpha(opacity = 70);
}
.mad-libs input.submit_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 100%;
  font-weight: bold;
  padding: 20px;
}