<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% unless @user.answers.empty? %>
        <table class="answers" summary="User answers">
          <%= render @answers %>
        </table>
        <%= will_paginate @answers %>
      <% end %>
    </td>
  </tr>
</table>
