<tr>
  <td class="answer">
	<span class="stack">Q: <%= Stack.find(answer.stack_id).question %></span>
	<span class="choice">A: <%= Choice.find(answer.choice_id).choice_text %></span>
    <span class="timestamp">
      Answered <%= time_ago_in_words(answer.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(answer.user) %>
  <td>
    <%= link_to "delete", answer, :method => :delete,
                                  :confirm => "You sure?",
                                  :title => answer.choice_id %>
  </td>
  <% end %>
</tr>

