<h1>About Us</h1>
<table class="about_us" summary="About the Company">
  <tr>
    <td>
	  <div class="about_block">
	  <a href="http://www.linkedin.com/pub/robert-morton/3/28a/9b3">
	  <div class="about_img"><img src="http://media02.linkedin.com/media/p/2/000/0e1/081/1c5a080.jpg"></div>
	  <div class="about_name">Robert Morton</div>
	  </a>
	  <div class="about_desc">
		<p>Robert runs global marketing for education technology leader Blackboard which helps thousands of organizations around the world in K-12, Higher Education and the Professional ranks transform the education experience. He also serves on the Board of Directors at Regent, a leading provider of SAAS based financial aid management solutions.</p>
		<p>Before joining Blackboard, Robert held marketing leadership positions in the telecommunications, online media and enterprise software arenas. His career building brands has included success at companies in various stages - from leading brands like Blackboard and The Motley Fool to fast growing category builders like ATCALL and Nucleus Solutions, a leading data integration software provider in the Human Capital Management market. A graduate of the University of Virginia, Robert lives with his wife and three children in Alexandria, Virginia.</p>
	  </div>
	  <hr>
	  <a href="http://www.linkedin.com/in/stevenrbrown">
	  <div class="about_img"><img src="http://media01.linkedin.com/mpr/mpr/shrink_100_100/p/1/000/02b/296/197f38b.jpg"></div>
	  <div class="about_name">Steven R. Brown</div>
	  </a>
	  <div class="about_desc">
		<p>Passion for driving growth for early stage Software-as-a-Service companies by leading key strategic components, including sales, services, and product strategy. Accomplishments include: growing SaaS provider Angel.com from product development through initial $20M+ in enterprise revenue from clients including Pfizer, Barnes & Noble, and Salesforce.com; managing explosive growth of professional services at MicroStrategy; and establishing SaaS-based Natural Insight as a key player in retail execution. My professional goal is to play an instrumental role in building a great software company.</p>
		<p>Prior to Angel.com, Mr. Brown led sales consulting for MicroStrategy in New York City, working with clients such as NBC, barnesandnoble.com, and Verizon, while growing the team from less than ten to over fifty technology professionals. Mr. Brown began his career at IBM Federal Systems, now a division of Lockheed Martin, where he led an internal research and development lab developing next-generation Navy combat and surveillance systems. Steve holds a Master of Science degree in Computer Science and a Bachelor of Science degree in Electrical Engineering, both from the University of Virginia.</p>
	  </div>
	  </div>
	</td>
    <td class="sidebar round">
	  <h3>Company Facts:</h3>
	  <strong>Founded: </strong>2011<br/>
	  <strong>Location: </strong>Alexandria, VA<br/>
	  <strong>Principals:</strong>
	  <ul>
		<li>Robert Morton</li>
		<li>Steven R. Brown</li>
	  </ul>
    </td>
  </tr>
</table>
