<p>
  <table width="100%">
	<tr>
		<td style="text-align: left; padding: 0 0 0 50px; font-size: 200%">Simple, </td>
		<td style="text-align: center; padding: 0 0 0 30px; font-size: 300%; font-weight: bold">Purposeful</td>
		<td style="text-align: right; padding: 0 10px 0 0; font-size: 200%">Comparisons</td>
	</tr>
  </table>
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
