<span id="interested_in_form<%= @interest.id %>">
<% if current_user.interested_in?(@interest) %>
  <%= render 'interests/not_interested_in' %>
<% else %>
  <%= render 'interests/interested_in' %>
<% end %>
</span>
