<table class="stacks" summary="Stack Categories">
  <tr>
    <td class="main">
	  <h1><%= @title %></h1>
    </td>
    <td class="add_stack">
      <%= link_to "Add Stack", new_interest_stack_path(@interest) %><br />
    </td>
  </tr>

<% if @interest.stacks.empty? %>
  <tr><td span=2>No Stacks.</td></tr>
<% else %>
  <%= render @stacks %>
<% end %>
</table>
