<html> 
<head> 
<title>Gmail - Daily Stack - Parenting</title> 
<style type="text/css"> 
body, td{font-family:arial,sans-serif;font-size:80%} a:link, a:active, a:visited{color:#0000CC} img{border:0} pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; width: 800px; overflow: auto;}
</style> 
<script> 
</script> 
</head> 
<body> 
<table width=100% cellpadding=0 cellspacing=0 border=0> 
<tr> 
<td></td> 
<td align=right> 
<tr> 
<td colspan=2> 
<tr> 
<td colspan=2> 
<table width=100% cellpadding=12 cellspacing=0 border=0> 
<tr> 
<td> 
<font size=-1><u></u> 
<div style="margin:0;padding:0"> 
<table border="0" cellpadding="20" cellspacing="0" width="100%" bgcolor="#262626"><tr> 
<td align="center" style="padding-left:75px;padding-right:75px"> 
<table border="0" cellspacing="0" cellpadding="0" width="300"> 
<tr> 
<td align="left" style="font-family:&#39;Arial Rounded MT Bold&#39;, Helvetica, Arial, sans-serif;color:#666666;padding-bottom:10px"> 
<table border="0" cellpadding="0" cellspacing="0"> 
<tr> 
<td colspan="2" style="font-size:18px;font-family:&#39;Arial Rounded MT Bold&#39;, Helvetica, Arial, sans-serif;color:#666666;text-transform:uppercase" valign="bottom"> 
your daily stack
</td> 
</tr> 
<tr> 
<td style="font-size:32px;font-family:&#39;Arial Rounded MT Bold&#39;, Helvetica, Arial, sans-serif;font-weight:bold;color:#f1c52c;text-transform:lower-case" valign="middle"> 
<a href="http://t.livingsocial.com/track/b_db2tt3d5crrmu5l8phmqetho2ui8nsi0brl0r5fdrc6mjajssgdg====?url=http%3A%2F%2Flivingsocial.com%2Fdeals%2F48752-pre-independence-day-festival%3Fmsdc_id%3D1%26ref%3DDCDeal062211_1_7280email" style="color:#e9ba26;text-decoration:none" target="_blank"><span style="color:#e9ba26">parenting</span></a> 
</td> 
<td align="right" valign="bottom"></td> 
</tr> 
</table> 
</td> 
</tr> 
<tr> 
<td valign="top" bgcolor="#FFFFFF" align="left" style="padding:20px"> 
<table border="0" cellpadding="0" cellspacing="0" style="font-family:Helvetica, Arial, sans-serif;font-size:14px;color:#666666"><tr> 
<td valign="top" bgcolor="#FFFFFF" style="padding-right:20px"> 
<table width="350" border="0" cellpadding="0" cellspacing="0"> 
<tr> 
<td align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:bold;color:#666666;padding-top:10px;padding-bottom:10px">Paying the Babysitter
</td> 
</tr> 
<tr> 
<td style="color:#666666;font-size:12px;font-family:Helvetica, Arial, sans-serif;line-height:18px;padding-top:10px;padding-bottom:10px"> 
<form accept-charset="UTF-8" action="http://stkup-alpha.heroku.com/answers" class="new_answer" id="new_answer" method="post" target="_blank">
	<br> 
	<div style="margin-bottom:1.5em;zoom:1"><label style="display:block;font-weight:bold">How much do you pay your babysitter?
	</label><br/> 
		    <input id="answer_stack_id" name="answer[stack_id]" type="hidden" value="1" />
		    <select id="answer_choice_id" name="answer[choice_id]"><option value="3">More than $15</option>
	<option value="2">$10-$15</option>
	<option value="1">Less than $10</option></select>
		    dollars per hour

</div>
	<br> 
	<div><div style="margin-bottom:1.5em;zoom:1"> 
		<input style="width: 190px;color: red;background: #262626;font-size: 125%;font-weight: bold;padding-left: 10px;padding-right: 10px;" type="submit" name="submit" value="Stack Me Up">
		<!-- <input type="submit" name="submit" value="Stack Me Up"> -->
	</div></div></form> 
</td> 
</tr> 
</table> 
</td> 
<td valign="top"> 
<table border="0" cellpadding="0" cellspacing="0" width="210"><tr> 
<td align="right"> 
<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcQYMjdebWTuYTi5p6lgwvHZnCi6BTHc0v6RxifOBLgBED_bJwcS"/>
</td> 
</tr>
</table> 
</td> 
</tr>
		
		
		
	</td>
</tr>
</table> 
</td> 
</tr> 

<tr> 
<td style="background:#e9e9e9;padding:10px"> 
<table border="0" cellspacing="0" cellpadding="0" width="580"><tr> 
<td width="580" valign="top" style="text-align:left"> 
<table border="0" cellpadding="0" cellspacing="0" width="580"> 
<tr> 
<td colspan="3" style="color:#262626;font-size:22px;font-weight:bold;font-family:&#39;Arial Rounded MT Bold&#39;, Helvetica, Arial, sans-serif;text-transform:lowercase;padding-bottom:10px;text-align:left"> 
More Stacks For You
</td> 
</tr> 
<tr> 
<td> 
<table cellpadding="0" cellspacing="0" border="0" width="100%"> 
<tr> 
<td width="50%" valign="top" style="padding-bottom:20px"> 
<table cellpadding="0" cellspacing="0" border="0"><tr> 
<td valign="top" align="left" style="padding-right:10px;padding-bottom:5px;width:74px"> 
<a href="http://t.livingsocial.com/track/b_db2tt3d5crrmu5l8phmqetho2ui8nsi0brl0r5fdrc6mjajssgdg====?url=http%3A%2F%2Flivingsocial.com%2Fdeals%2F26631-four-hours-of-babysitting-services%3Fmsdc_id%3D1%26ref%3DDCDeal062211_1_7280email" style="display:block" target="_blank"> 
<img src="http://a5.ak.lscdn.net/imgs/8bd2a877-0524-4741-b777-6a62cf66cf86/74.png" style="width:74px;border:none;display:block" alt="Four Hours of Babysitting Services"></a> 
</td> 
<td valign="top" align="left" style="color:#666666;font-size:12px;font-family:Helvetica, Arial, sans-serif;padding-bottom:10px;width:220;padding-right:10px"> 
<p style="color:#909090;font-size:12px;font-family:&#39;Arial Rounded MT Bold&#39;, Helvetica, Arial, sans-serif;font-weight:bold;text-transform:lowercase;margin-top:0;margin-bottom:10px">Washington, D.C. Parents</p> 
<p style="margin-top:0;margin-bottom:10px;font-size:16px;font-family:&#39;Arial Rounded MT Bold&#39;, Helvetica, Arial, sans-serif"><a href="http://t.livingsocial.com/track/b_db2tt3d5crrmu5l8phmqetho2ui8nsi0brl0r5fdrc6mjajssgdg====?url=http%3A%2F%2Flivingsocial.com%2Fdeals%2F26631-four-hours-of-babysitting-services%3Fmsdc_id%3D1%26ref%3DDCDeal062211_1_7280email" style="color:#666666;font-weight:bold;text-decoration:none" target="_blank"><span style="color:#666666">How do you discipline your strong-willed 5-year-old?</span></a></p> 
<p style="margin-top:0"><a href="http://t.livingsocial.com/track/b_db2tt3d5crrmu5l8phmqetho2ui8nsi0brl0r5fdrc6mjajssgdg====?url=http%3A%2F%2Flivingsocial.com%2Fdeals%2F26631-four-hours-of-babysitting-services%3Fmsdc_id%3D1%26ref%3DDCDeal062211_1_7280email" style="text-decoration:none;color:#0898bb;font-family:&#39;Arial Rounded MT Bold&#39;, Helvetica, Arial, sans-serif;font-size:12px" target="_blank"><span style="color:#0898bb">Find out more »</span></a></p> 
</td> 
</tr></table> 
</td> 
<td width="50%" valign="top" style="padding-bottom:20px"> 
<table cellpadding="0" cellspacing="0" border="0"><tr> 
<td valign="top" align="left" style="padding-right:10px;padding-bottom:5px;width:74px"> 
<a href="http://t.livingsocial.com/track/b_db2tt3d5crrmu5l8phmqetho2ui8nsi0brl0r5fdrc6mjajssgdg====?url=http%3A%2F%2Flivingsocial.com%2Fdeals%2F49603-week-of-soccer-camp%3Fmsdc_id%3D1%26ref%3DDCDeal062211_1_7280email" style="display:block" target="_blank"> 
<img src="http://a5.ak.lscdn.net/imgs/dfb91d45-9a77-40ad-aeb3-7fdbab70e055/74.png" style="width:74px;border:none;display:block" alt="Week of Soccer Camp"></a> 
</td> 
<td valign="top" align="left" style="color:#666666;font-size:12px;font-family:Helvetica, Arial, sans-serif;padding-bottom:10px;width:220;padding-right:10px"> 
<p style="color:#909090;font-size:12px;font-family:&#39;Arial Rounded MT Bold&#39;, Helvetica, Arial, sans-serif;font-weight:bold;text-transform:lowercase;margin-top:0;margin-bottom:10px">Washington, D.C. Parents</p> 
<p style="margin-top:0;margin-bottom:10px;font-size:16px;font-family:&#39;Arial Rounded MT Bold&#39;, Helvetica, Arial, sans-serif"><a href="http://t.livingsocial.com/track/b_db2tt3d5crrmu5l8phmqetho2ui8nsi0brl0r5fdrc6mjajssgdg====?url=http%3A%2F%2Flivingsocial.com%2Fdeals%2F49603-week-of-soccer-camp%3Fmsdc_id%3D1%26ref%3DDCDeal062211_1_7280email" style="color:#666666;font-weight:bold;text-decoration:none" target="_blank"><span style="color:#666666">How many organized sports is your child involved in?</span></a></p> 
<p style="margin-top:0"><a href="http://t.livingsocial.com/track/b_db2tt3d5crrmu5l8phmqetho2ui8nsi0brl0r5fdrc6mjajssgdg====?url=http%3A%2F%2Flivingsocial.com%2Fdeals%2F49603-week-of-soccer-camp%3Fmsdc_id%3D1%26ref%3DDCDeal062211_1_7280email" style="text-decoration:none;color:#0898bb;font-family:&#39;Arial Rounded MT Bold&#39;, Helvetica, Arial, sans-serif;font-size:12px" target="_blank"><span style="color:#0898bb">Find out more »</span></a></p> 
</td> 
</tr></table> 
</td> 
</tr> 



</table> 
</td> 
</tr></table> 
</div> 
</font> 
</table> 
</table> 
<hr> 
</body> 
</html>