<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Contact Us from StkUp!</h1>
    <p>
      Contact us form submitted with the following info:<br/>
      Name: <%= @contact[:name] %><br/>
      Email: <%= @contact[:email] %><br/>
      Comment: <%= @contact[:comment] %><br/>
    </p>
    <p><%= Time.now %></p>
  </body>
</html>