<div class="mad-libs">
<form action="" method="get" accept-charset="utf-8">
<table>
  <tr>
    <td style="vertical-align:top"><div class="begin-quote">&#8220;</div></td>
    <td class="madlibs-content round">
    I pay my babysitter
    <label>
		<select name="stkup_response_34536">
		<option value="1">less than $10</option>
		<option value="2" selected="selected">$10-$15</option>
		<option value="3">more than $15</option>
		<option value="4">a different amount of</option>
		</select>
    </label>
    dollars per hour, and I live in the 
    <label>
      <input type="text" name="zip" value="" />
      <span>zip code</span>
    </label>
	area.
    </td>
    <td style="vertical-align:bottom"><div class="end-quote">&#8221;</div></td>
  </tr>
</table>
</form>
</div>